
.board {
  width: 450px;
  height: 450px;
}

.rank {
  clear: both;
  width: 100%;
  height: 12.5%;
}

.square {
  position: relative;
  float: left;
  width: 12.5%;
  height: 100%;
}

.piece {
  position:absolute;
  width: 100%;
  height: 100%;
  background-size:100%;
}

.rank:nth-child(odd) .square:nth-child(even),
.rank:nth-child(even) .square:nth-child(odd) {
  background-color: #eee;
}

.piece.K {
  background-image: url('./images/wk.png');
}
.piece.Q {
  background-image: url('./images/wq.png');
}
.piece.N {
  background-image: url('./images/wn.png');
}
.piece.B {
  background-image: url('./images/wb.png');
}
.piece.R {
  background-image: url('./images/wr.png');
}
.piece.P {
  background-image: url('./images/wp.png');
}

.piece.k {
  background-image: url('./images/bk.png');
}
.piece.q {
  background-image: url('./images/bq.png');
}
.piece.n {
  background-image: url('./images/bn.png');
}
.piece.b {
  background-image: url('./images/bb.png');
}
.piece.r {
  background-image: url('./images/br.png');
}
.piece.p {
  background-image: url('./images/bp.png');
}